@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    /* Dark theme variables */
    --primary-color: #4400ff; /* Primary color */
    --bg1: #040408; /* Main background color */
    --bg2: #0e0e0e; /* Secondary background color */
    --t1: #f7fffa; /* Main text color */
    --t2: #6a726d; /* Secondary text color */
    --border-radius: 10px;
    --a1: rgba(164, 185, 167, 0.175); /* Subtle border color */
    --p1: 1em;
    --p2: 2em;
}

/* Light theme variables */
[data-theme="light"] {
    --primary-color: #4400ff; /* Primary color */
    --bg1: #f0f2f5; /* Main background color */
    --bg2: #ffffff; /* Secondary background color */
    --t1: #1c1e21; /* Main text color */
    --t2: #65676b; /* Secondary text color */
    --a1: #e6e6e6; /* Subtle border color */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: inherit;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: unset;
    color: inherit;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

html,
body {
    color: var(--t2);
    background-color: var(--bg1);
    padding: var(--p1);
    font-weight: 500;
    font-family: 'Reddit Sans', sans-serif;
}

button {
    cursor: pointer;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--t1);
    font-weight: 600;
    background-color: var(--primary-color);
    padding: calc(var(--p1) / 2) var(--p2);
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    .bi {
        margin-right: calc(var(--p1) / 2);
        font-size: large;
    }

}
[data-theme="light"] button{
    color: var(--bg1);
}
button:hover {
    transform: scale(1.05);
    background-color: var(--primary-color);
}
code {
    font-family: monospace;
}

h2 {
    font-size: medium;
    color: var(--t1);
    font-weight: 600;
}

input {
    font-size: small;
    color: var(--t1);
    font-weight: 400;
    background-color: var(--bg2);
    padding: calc(var(--p1) / 2) var(--p2);
    border-radius: var(--border-radius);
    border: 1px solid var(--a1);
    width: 100%;

    &:focus {
        outline: none;
        border: 1px solid var(--primary-color);
    }

    &::placeholder {
        color: var(--t2);
        font-weight: 400;
    }
}

input[type="file"] {
    display: none;
}

[data-theme="light"] label {
    color: var(--bg1);
}

label {
    cursor: pointer;
    font-size: small;
    color: var(--t1);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: calc(var(--p1) / 2) var(--p2);
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;

    .bi {
        margin-right: calc(var(--p1) / 2);
        font-size: large;
    }
}

label:hover {
    transform: scale(1.05);
    background-color: var(--primary-color);
}
nav {
    position: fixed;
    left: var(--p1);
    right: var(--p1);
    z-index: 9;
    background-color: var(--bg2);
    display: flex;
    justify-content: center;
    gap: var(--p1);
    align-items: center;
    margin: 0 auto;
    max-width: clamp(300px, 100%, 500px);
    padding: var(--p1);
    border-radius: var(--border-radius);
    border: 1px solid var(--a1);
    button .bi{
        margin: 0;
    }
    h1 {
        font-size: medium;
        color: var(--t1);
    }

    img {
        width: 30px;
        height: 30px;
        border-radius: var(--border-radius);
    }

    a {
        cursor: pointer;
        font-size: x-small;
        color: var(--t1);
        font-weight: 400;
    }

    a:hover {
        text-decoration: underline;
    }

    .s {
        flex-grow: 1;
    }
}

[data-theme="light"] nav img{
        filter: invert(1);
}

progress {
    width: 100%;
    height: 10px;
    border-radius: var(--border-radius);
    background-color: var(--bg2);
    border: 1px solid var(--a1);

    &::-webkit-progress-bar {
        background-color: var(--bg2);
        border-radius: var(--border-radius);
        border: 1px solid var(--a1);
    }

    &::-webkit-progress-value {
        background-color: var(--primary-color);
        border-radius: var(--border-radius);
    }

    &::-moz-progress-bar {
        background-color: var(--primary-color);
        border-radius: var(--border-radius);
    }
}

strong {
    color: var(--primary-color);
    font-weight: 800;
}

ul {
    list-style: none;
    padding: var(--p1);
    background-color: var(--a1);
    border-radius: var(--border-radius);
    margin: 0;

    li {
        display: flex;
        align-items: baseline;
        line-height: 1em;
        margin-bottom: var(--p1);
        font-size: small;

        a {
            display: inline;
            margin-right: var(--p1);
            color: var(--primary-color);
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    li::before {
        content: "\f287";
        font-family: "bootstrap-icons";
        color: var(--primary-color);
        font-size: 1em;
        margin-right: calc(var(--p1) / 1.5);
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
    }

}

.auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--p1);
}

.card {
    display: inline-flex;
    flex-direction: column;
    max-width: clamp(300px, 100%, 500px);
    padding: var(--p1);
    border-radius: var(--border-radius);
    background-color: var(--bg2);
    border: 1px solid var(--a1);
    gap: var(--p1);

    p {
        font-size: small;
        color: var(--t1);
        font-weight: 400;
    }
}

.connections {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;

    p {
        text-align: center;
        font-size: small;
        color: var(--t1);
        font-weight: 400;
    }
}

#popup {
    position: fixed;
    top: var(--p1);
    left: var(--p1);
    max-width: clamp(300px, 100%, 500px);
    font-size: small;
    color: var(--t1);
    font-weight: 400;
    background-color: var(--bg2);
    border-radius: var(--border-radius);
    border: 1px solid var(--a1);
    padding: var(--p1);
    z-index: 10;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100vh);

    &.show {
        transform: translateY(0);
    }

    .bi {
        margin-right: var(--p1);
        color: var(--primary-color);
    }
}

#qr-code-container {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--bg2);
    border: 1px solid var(--a1);
    padding: var(--p1);
}

#status button{
    margin-top: var(--p1);
}

ul li:hover {
    background-color: rgba(164, 185, 167, 0.3); /* Slightly darker on hover */
    transform: scale(1.02);
    transition: background-color 0.3s ease, transform 0.2s ease;
}